S3method(print,accmv_result)
S3method(print,accmv_regression_result)
importFrom(stats,binomial)
importFrom(stats,coef)
importFrom(stats,glm.fit)
importFrom(stats,plogis)
importFrom(stats,quantile)
importFrom(stats,rnorm)
importFrom(stats,sd)
export(accmv_data)
export(accmv_ipw_weights)
export(bootstrap_accmv_multiple)
export(bootstrap_accmv_single)
export(bootstrap_regression)
export(estimate_accmv_multiple)
export(estimate_accmv_single)
export(fit_accmv_regression)
export(ipw_regression)
export(multiple_bootstrap)
export(multiple_data_preparation)
export(multiple_ipw)
export(multiple_ipw_sensitivity)
export(multiple_mr_average)
export(multiple_mr_indicator)
export(multiple_mr_product)
export(multiple_ra_average)
export(multiple_ra_indicator)
export(multiple_ra_product)
export(simulate_accmv_multiple)
export(simulate_accmv_regression)
export(simulate_accmv_single)
export(single_bootstrap)
export(single_data_preparation)
export(single_ipw)
export(single_ipw_sensitivity)
export(single_multiply_robust)
export(single_regression_adjustment)
